/*Elements and Tags*/




/*Map*/
  /*Classes*/
.map-holder {
  width: 100%;
  margin: 25px auto;
}

.infowindow-container {
  border: 8px solid rgba(99, 133, 139, 0.3);
  border-radius: 6px;
  max-width: 400px;
  padding: 10px;
  margin: 5px;
}

.infowindow-placeName {
  font-style: 1.2;
}

.infowindow-image {
  margin: 6px;
  box-shadow: 1px 0px 2px 0px grey;
  float: left;
}

.infowindow-phone {
  font-size: 0.9rem;
}

.infowindow-snippet {
    font-size: 0.8rem;
}

.click-message {
  margin-left: 60px;
}

  /*Ids*/
#map {
  width: 100%;
  max-width: 1200px;
  height: 600px;
}


/*FilterPane*/
  /*Classes*/
.list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list-group-item {
  border-radius: 4px;
}

.list-group-item:hover {
  color: rgb(237, 237, 237);
  background-color: #ce3e3e;
  cursor: pointer;
  border-radius: 4px;
}


  /*Ids*/
