/*Elements and Tags*/
body {
  background: #5b5276;
  background-image: url("../img/zenbg-1.png"), url("../img/zenbg-2.png");
  background-repeat: repeat-x, repeat;
  text-align: center;
}
input {
  margin: 3px 3px;
}
button {
  margin: 2px 2px;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
h1 {
  font-size: 24;
  text-shadow: 0px 1px 1px grey;
  padding-top: 8px;
}

/*Header*/
  /*Classes*/
.headContent {
  text-align: center;
  color: rgb(240, 240, 240);
  font-size: 10px;
}
@media screen and (max-width: 420px) {
  .mobileHeader {
    font-size: 12px;
    box-shadow: 0px 0px 2px 1px grey;
    background-color: black;
  }
  h1 {
    font-size: 24px;
    padding-top: 5px;
  }
  input {
    font-size: 16px;
  }
}




/*Map*/
  /*Classes*/
.card {
  width: 100%;
  border: 1px solid rgb(205, 205, 205);
  box-shadow: 0px 0px 1px 0px grey;
  padding: 12px 10px;
  margin: 10px 2px;
}
.map-holder {
  width: 100%;
  margin: 10px auto;
}
.infowindow-container {
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  max-width: 400px;
  padding: 10px;
  margin: 5px;
}
.infowindow-placeName {
  font-style: 1.2;
  color: #7eaf24;
}
.infowindow-image {
  margin: 6px;
  box-shadow: 1px 0px 2px 0px grey;
  float: left;
}
.infowindow-phone {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(150, 199, 31);
}
.infowindow-snippet {
    font-size: 0.9rem;
    color: rgb(75, 75, 75);
    font-weight: bold;
}
@media screen and (max-width: 520px) {
  /*Don't show the snippet text on smaller devices as the info window does not fit on the screen*/
  .infowindow-snippet, .click-message { display: none; }
  .infowindow-image {
    margin: 4px;
    float: none;;
  }
}
.click-message {
  margin-left: 60px;
  font-size: 0.8rem;
  color: rgb(75, 75, 75);
}

  /*Ids*/
#map {
  transition: height 1s, width 1s;
}
@media screen and (min-width: 480px) {
  #map {
    width: 100%;
    max-width: 1200px;
    height: 600px;
  }
}
@media screen and (max-width: 479px) {
  #map {
    width: 100%;
    max-width: 1200px;
    height: 400px;
  }
}


/*FilterPane*/
  /*Classes*/
.list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.list-group-item {
  border-radius: 4px;
}
.list-group-item:hover {
  color: rgb(237, 237, 237);
  background-color: #ce3e3e;
  cursor: pointer;
  border-radius: 4px;
}

.rating-filter-label {
  margin-right: 10px;
  color: #606060;
  font-weight: bold;
}
.resultsInfoMobile {
  display: none;
}
.clicktoFilter {
  display: none;
}
.resultsInfoMobile{
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .list-group-item {
    padding: 5px;
    font-size: 12px;
  }
  .card {
    padding: 8px 10px;
    margin: 8px 2px;
  }
}

@media screen and (max-width: 960px) {
  .resultsInfoNormal {
    display: none;
  }
  .resultsInfoMobile {
    display: block;
  }
}
@media screen and (max-width: 420px) {
  .filter {
    display: none;
  }
  .clicktoFilter {
    display: block;
  }
}



  /*Ids*/
#refreshRatingFilterButton {
  margin-left: 10px;
}
